{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Expense{% endblock title %}</title>
    
</head>
<body>
    {%block content%}
    <div>
        <form action="addexpense" method="POST">
            {% csrf_token %}
            <br>
            <h3>Add Expense</h3>
            <br>
            <label for="">Enter Item : </label>
            <input type="text" name="items" id="">
            <br><br>
            <label for="">Enter Amount : </label>
            <input type="text" name="amount" id="">
            <br><br>
            <input type="submit" value="Add Item">

            {{msg1}}
        </form>
    </div>
    {%endblock%}
</body>
</html>